.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.hero-modal {
    width: 100vw;
    height: 100vh;

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.2);
}