body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}