  $accentColor: #2196f3;
  $mainTextColor: #212121;
  $secondaryTextColor: #757575;
  $mainBtnColor: #2196f3;
  $secondaryBtnColor: #e5e5e5;
  $secondaryBackgroundColor: #f5f4fa;


  span,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      margin: 0;
      padding: 0;
  }


  body {
      font-family: "Roboto", sans-serif;
      color: var(--main-text-color);
  }


 


